@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(246,246,246);
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    image-rendering: pixelated;
}

.pokemon-scroll {

    animation: 190s linear slideInFromLeft infinite;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-980%);
    }
}